body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(149, 0, 255);
}

.container {
    background: #222;
    padding: 20px;
    border-radius: 20px;
}

.calculator input {
    width: 300px;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

button {
    width: 70px;
    height: 50px;
    font-size: 22px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: #e0f2f1;
}

#mul, #sub, #add, #eq, #div {
    background-color: gold;
}

#eq {
    width: 155px;
}